<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Feed</title>
</head>
<body>
    <div id="article-list">
        <% @article.each do |article| %>
            <div id="article_title">
                <p>
                    <b>Title:</b> <%= article.title %>
                </p>
            </div>
            <div id="article_body">
                <p>
                    <b>Body:</b> <%= article.text %>
                </p>
            </div>
        <% end %>
    </div>
</body>
</html>