<%= render 'articles/navbar' %>
<div>
  <p>
    <strong>My Email id:</strong> <%= @user.email %>
  </p>
  <p>
    <strong>My Username:</strong> <%= @user.username %>
  </p>
</div>

<div>
  <h3>My Articles List:</h3>
  <ol>
    <%= render  @user.articles %><br />
  </ol>
</div>